@using Medrivo.Models;
@{
    ViewBag.Title = "ProductDetails";
}


<main id="main">
    @{
        var product = (OurProduct)ViewBag.ProductDetail;
    }
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li>@product.ProductName</li>
            </ol>
            <h2>@product.ProductDescription</h2>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            @foreach (var item in product.ImageURL)
                            {
                                <div class="swiper-slide">
                                    <img src="@item" alt="">
                                </div>
                            }
                           

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>@product.ProductName</h3>
                        <ul>
                            <li><strong>Category</strong>: @product.ProductDescription</li>
                            <li><strong>Producer</strong>: Medrivo</li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>@product.ProductName</h2>
                        <p>
                            @product.ProductDetailDescription
                        </p>
                    </div>
                    <div class="btn-wrap">
                        <a target="_blank" href="@product.ProductBroschure" class="btn-buy" value="Download PDF File">Brochure <i class="fa fa-download" aria-hidden="true"></i></a>
                    </div>
            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->